@charset "UTF-8";
@import url("https://use.typekit.net/euz1eqv.css");

p {
}

h1 {
  font-size: 4rem;
  font-family: 'Poppins-Semibold';
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.slick-slider {
  text-align: center;

  img {
    padding: .5rem;
  }
}

main {
  flex-direction: column;

  .content section {
    opacity: 0;
    transition: .4s;
  }

  > * {
  }
}

.main {
  background-color: #080c2b;
  color: white;

  a {
    color: white
  }

  section {
    margin-top: 12rem;

    &:last-of-type {
      margin-bottom: 12rem;
    }
  }
}

header {
  flex: 0 0 60px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 60px;
  width: 100%;
  z-index: 90;
  transition: .4s;

  &.scroll {
    background: rgba(0, 0, 0, 0.8);

    .logo {
      transition: 0s;
    }
  }

  .logo {
    margin: 1rem;
    background-image: url("../images/icon/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px
  }

  a {
    color: white;
    height: 100%;
  }

  .menu {
    li {
      a {
        font-size: 16px;
        padding: 0 2rem;
        text-transform: capitalize;
        transition: .4s;
      }
    }
  }

  .language {
    display: flex;
    align-items: center;
    text-transform: uppercase;

    li {

      &:nth-of-type(1) {
        a {
          border-right: 1px solid #EEE;
        }
      }

      a {
        font-size: 13px;
        padding: 0 1rem;

        &.active {
          font-weight: bold;
        }
      }

    }
  }

  .hamburger-menu {
    display: none !important;
    position: absolute;
    right: .25rem;
    top: .25rem;

    svg {
      width: 3rem;
      height: 3rem;
      -webkit-tap-highlight-color: transparent;
      transition: transform .4s;
      user-select: none;
      cursor: pointer;

      path {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: white;
        stroke-width: 5.5;
        stroke-linecap: round;

        &:first-of-type {
          stroke-dasharray: 40 139;
        }

        &:last-of-type {
          stroke-dasharray: 40 180;
        }
      }
    }
  }

  &.active {

    .hamburger-menu {
      svg {
        transform: rotate(45deg);

        &:first-of-type {
          stroke-dashoffset: -98px;
        }

        &:last-of-type {
          stroke-dashoffset: -138px;
        }
      }
    }
  }
}

#slider {
  max-width: none;
  height: 70vh;
  max-height: 700px;
  user-select: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;

  img {
    opacity: .5;
  }

  .text-slider {
    position: absolute;
    top: 12rem;
    left: 50%;
    color: white;
    transform: translateX(-50%);

    .title {
      font-size: 60px;
      font-family: "Montserrat-ExtraLight", sans-serif;
      margin-bottom: 1rem;
    }

    p {
      font-size: 17px;
    }
  }
}

#business-area {
  margin-top: 30rem;
  user-select: none;

  .cards {
    display: flex;
    justify-content: space-between;
    margin: -.5rem;

    .card {
      opacity: 0;
      flex: 1 1 25%;
      font-weight: 300;
      background-color: #2f2586;
      padding: 1.5rem 1.5rem 3rem;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      animation: moveDown 1s forwards .4s;
      transition: .4s;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .1;
        background-repeat: no-repeat;
        background-position: -3rem 12rem;
        background-size: 80%;
      }

      &:nth-of-type(odd) {
        background: white;
        color: #333;

        &:hover {


          button {
            border-color: rgba(0, 0, 0, .7) !important
          }
        }

        button {
          border-color: rgba(0, 0, 0, .1);

          svg {
            fill: #333
          }
        }
      }


      &:hover {
        transform: translateY(-10px);
        box-shadow: 3px 5px 3rem rgba(0, 0, 0, .5);
        z-index: 10;

        button {
          border-color: white;
        }

        /*&::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 200px;
          background-image: linear-gradient(0deg, rgba(55, 22, 57, .7), transparent);
          bottom: 0;
          left: 0;
        }*/
      }

      &:nth-of-type(1) {
        animation-delay: .2s;

        &::after {
          background-image: url("../images/icon/smart_iiot.png");
        }
      }

      &:nth-of-type(2) {
        animation-delay: .2s;

        &::after {
          background-image: url("../images/icon/automation_smart_factory.png");
        }
      }

      &:nth-of-type(3) {
        animation-delay: .4s;

        &::after {
          background-image: url("../images/icon/remote_control.png");
        }
      }

      &:nth-of-type(4) {
        animation-delay: .6s;

        &::after {
          background-image: url("../images/icon/digital_transformation.png");
        }
      }
    }

    .title {
      font-size: 24px;
      font-family: 'Oswald';
      margin-bottom: 1rem;
      line-height: 1.2;
    }

    button {
      position: absolute;
      bottom: 1.5rem;
      right: 1.5rem;
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      border: 1px solid rgba(255, 255, 255, .1);
      transition: .2s;

      svg {
        fill: white;
      }
    }
  }
}

#flagship-solutions {
  counter-reset: dl;

  .solution {
    opacity: 0;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    animation: moveDown 1s forwards .4s;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(255, 255, 255, .1);
    }

    &:nth-of-type(1) {
      animation-delay: .2s;
    }

    &:nth-of-type(2) {
      animation-delay: .4s;
    }

    &:nth-of-type(3) {
      animation-delay: .6s;
    }

    &:nth-of-type(4) {
      animation-delay: .8s;
    }

    &::before {
      counter-increment: dl;
      content: "0" counter(dl);
      position: absolute;
      top: .5rem;
      left: -2rem;
      color: #3b9cff;
    }

    &:hover {

      button {
        opacity: 1;
      }
    }

    dl {
      margin-right: 2rem;
      word-break: keep-all;

      dt {
        font-family: "Oswald";
        font-size: 24px;
        text-transform: uppercase;
      }

      dd {
        opacity: .7;
      }
    }

    button {
      flex: 0 0 2.5rem;
      background-color: #2f2586;
      opacity: .5;
      width: 2.5rem;
      height: 2.5rem;
      display: flex;
      justify-content: center;
      transition: opacity .2s;

      svg {
        fill: white;
      }
    }
  }
}

#services {
  background-image: linear-gradient(120deg, rgba(14, 33, 84, .5), rgba(55, 22, 57, .5));
  padding: 10rem 0;
  margin-top: 6rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../images/background/service_01.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
    opacity: .3;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #080c2b, transparent 20%, transparent 80%, #080c2b);
  }

  h1 {
  }

  h2 {
    margin-bottom: 2rem;
  }

  .services {
    display: flex;

    > div {
      margin: 0 .5rem;
      flex: 1 1 50%;

      .title {
        font-family: "Oswald", sans-serif;
        font-size: 28px;
        margin-bottom: 1rem;
      }

      ul {

        li {
          flex: 1 1 25%;
          margin: .5rem 0;
          padding: 1rem;
          border: 1px solid rgba(255, 255, 255, .3);
          border-radius: .5rem;
          cursor: pointer;
          transition: .4s;
          z-index: 1;

          &:hover {
            background: #372a9f;
            border-color: #372a9f;
            color: white;
          }
        }
      }
    }
  }
}

#customers {
  .customers {
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;

    > div {
      flex: 1 1 20%;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem 1rem;
    }

    img {
      width: auto;
      height: 100%
    }
  }
}

footer {
  opacity: 0;
  width: 100%;
  padding: 3rem 2rem;
  color: #DDD;
  background-color: #111;
  transition: .4s;

  a {
    color: white
  }

  section {
    opacity: unset !important;
    margin: 2rem auto !important;
  }

  .sitemap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding-bottom: 2rem;

    h3 {
      margin-bottom: 1rem;
      text-transform: capitalize;
    }

    ul {
      flex-direction: column;
      user-select: none;

      li {
        font-family: 'Montserrat-ExtraLight';
      }
    }
  }

  .information {
    ul {
      display: flex;

      li {
        margin-right: 2rem;
      }
    }
  }

  .copyright {
    text-align: right;
  }
}


.sub-menu {
  margin-top: -25px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #261d6f;
  border-radius: .25rem;

  li {
    color: white;
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;

    &:hover,
    &.active {
      background-color: #36299f;
      color: white;
      opacity: 1;

      a {
        color: white;
      }
    }

    a {
      color: white;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}

.sub {
  background-color: white;

  .title {
    height: 200px;
    background-color: rgba(17, 32, 82, .5);
    position: relative;

    &::before {
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: url("../images/background/title.jpg") no-repeat bottom center fixed;
      background-size: cover;
      z-index: -1;
    }


    h1 {
      padding-top: 5rem;
      font-size: 3rem;
      color: white
    }
  }

  .sub-title {
    margin: 2rem 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    padding: 1.5rem 0;

    h2 {
      font-family: 'Poppins-Semibold';
      font-size: 2rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }

    small {
      font-size: 1.2rem;
      color: #372a9f;
    }
  }

  img {
    max-width: 800px;
    margin: 0 auto;
    border-radius: .5rem;
    background-color: white;
  }


  section {
      margin-bottom: 5rem !important;
  }

  .advantages {
    display: flex;
    margin: 0 -.25rem;

    ul {
      flex: 1 1 25%;
      padding: 1rem;
      margin: .25rem;
      border-radius: .5rem;
      background-color: #EEE;

      li {

        h4 {
          color: #3b9cff;
          line-height: 2;
        }

        &::before {
          content: '-';
          margin-right: .5rem;
        }
      }
    }
  }
}

/* ======================================
   about
   ====================================== */
.about {
  .title {
  }

  div[data-scroll] {
    width: 100%;
  }

  section {
    margin-bottom: 8rem;
  }

  .anchor-menu {
    margin-top: 5rem;
    z-index: 10;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: -1rem;
      bottom: 0;
      width: 3px;
      height: 100%;
      background-color: #3b9cff;
    }

    a {
      font-size: 1.25rem;
      color: #333;
      width: fit-content;
    }
  }

  h2 {
    font-family: 'Poppins-Semibold', sans-serif;
    font-size: 2rem;
    color: #2a52bd;
    margin-bottom: 1rem;
  }

  .challenge {
    padding-left: 20rem;
    margin-top: -8rem;

    .impact {
      margin: 1rem 0;

      p {
        font-family: "Libre Baskerville", sans-serif;
        font-size: 3rem;
        color: #3b9cff;
        font-style: italic;
        line-height: 1;
      }
    }
  }

  .greetings {
    width: 100%;
    max-width: none;

    position: relative;

    .image {
      background: url("../images/background/greetings.jpg") no-repeat center;
      background-size: cover;
      position: absolute;
      left: 0;
      top: -1.5rem;
      width: 30vw;
      height: 30vh;
      max-height: 200px;
      z-index: -1;
    }

    div {
      padding-left: 20rem;

      .ceo {
        font-weight: bold;
        font-size: 16px;
        text-align: right;
        margin-top: 1rem
      }
    }
  }

  .organization {
    .google-visualization-orgchart-table {
      width: 100%;
      margin-top: 3rem;

      .google-visualization-orgchart-node {
        box-shadow: none;
        border: 0;
        background: #EEE;
        padding: 1rem 2rem;
        font: bold 15px/1.5 'NanumSquare'
      }

      .google-visualization-orgchart-nodesel {
        background-color: rgba(47, 37, 134, .1);
      }
    }
  }

  .location {
    p {
      line-height: 2;
    }

    ul {
      display: flex;
    }

    li {
      margin: 1rem 2rem 0 0;
      padding-right: 2rem;

      &:not(:last-of-type) {
        border-right: 1px solid #EEE;
      }
    }
  }
}

/* ======================================
   Solutions
   ====================================== */
.solutions {

  .tabs {
    display: flex;
    justify-content: center;
    margin: 2rem 0 0;

    li {
      color: #333;
      border: 1px solid slategray;
      border-radius: 2rem;
      margin: .25rem;
      padding: .45rem 3rem;
      cursor: pointer;
      transition: .4s;

      &:hover,
      &.active {
        background: #333;
        border-color: #333;
        color: white
      }
    }
  }

  .tab-content {

    > div {

      > *:last-child {
        margin-bottom: 6rem;
      }
    }
  }

  &.rcs {

    .systems {
      display: flex;
      margin: 0 -.5rem;

      > div {
        flex: 1 1 33.333%;
        margin: 0 .5rem;
        background: #E3E6E9;
        padding: 2rem;
        text-align: left;
        border-radius: .5rem;
      }

      h3 {
        margin-bottom: 1.5rem;
        color: #3b9cff;
      }
    }

    .rcs-function {

      img {
        width: 1000px;
        max-width: 1200px;
      }
    }
  }

  .table {

    .row {
      border-bottom: 1px solid #DDD;
      padding: 1.5rem;

      li {


        &:nth-of-type(1) {
          flex: 0 0 5%;
        }

        &:nth-of-type(2) {
          flex: 0 0 35%;
        }

        &:nth-of-type(3) {
          flex: 0 0 20%;
        }

        &:nth-of-type(4) {
          flex: 0 0 10%;
        }

        &:nth-of-type(5) {
          flex: 0 0 10%;
        }

        &:nth-of-type(6) {
          flex: 0 0 20%;
        }
      }
    }
  }
}

.smart-factory-automation {

  .rtms {

    img {
      max-width: 1000px;
    }

    .advantages {
      width: 800px;
      margin: 0 auto;

      li {
        &:before {
          content: none;
        }
      }
    }
  }

  .dms {

    .interface {
      margin-bottom: 1rem !important;
    }

    .process {
      ul {
        display: flex;
        margin: 0 -.25rem;
        flex-wrap: wrap;
        counter-reset: li;

        li {
          flex: 0 0 24%;
          border-radius: .5rem;
          padding: 1rem;
          margin: .25rem;
          position: relative;

          &::before {
            counter-increment: li;
            content: "0" counter(li);
            color: #3b9cff;
            display: block;
          }


          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            width: 0;
            height: 0;
            margin-top: -6px;
            border: solid slategray;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            transform: rotate(-45deg);
          }

          &:last-of-type::after {
            content: none;
          }
        }
      }
    }
  }

}

.digital-transformation {

  .before-after {

    div {
      display: flex;

      h4 {
        font-size: 17px;
        color: #372a9f;
        margin-bottom: 1rem;
      }

      ul {
        flex: 1 1 50%;
        margin: 2rem;
        text-align: center;

        &:first-of-type {
          flex: 0 0 50%
        }
      }
    }
  }

  .rss {

    .about {
      text-align: center;

      div {
        margin: 2rem auto 0;
        width: 800px;
        background: #EEE;
        color: #3b9cff;
        border-radius: .5rem;
        padding: 2rem;
      }
    }

    .advantages {
      li {

        &::before {
          content: none;
        }
      }
    }
  }
}


/* ======================================
   Services
   ====================================== */
.services {

  img {
    height: 180px;
  }

  .process {
    display: flex;
    flex-direction: row;
    counter-reset: dl;
    margin: 3rem auto 6rem;

    dl {
      flex: 1 1 25%;
      padding: 0 .5rem;
      font-family: 'NanumSquare-Regular';
      display: flex;
      align-items: center;
      flex-direction: column;

      &::before {
        counter-increment: dl;
        content: "0" counter(dl);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 36px;
        background-color: #372a9f;
        color: white;
        font-size: 13px;
        font-family: 'Poppins-Regular';
        margin-bottom: 1rem;
      }

      &::after {
        content: '';
        position: absolute;
        top: 18px;
        height: 2px;
        width: 25%;
        background-color: #EEEEEE;
        z-index: -1;
      }

      dt {
        color: #3b9cff;
        font-size: 17px;
        margin-bottom: .5rem;
      }

      dd {

        &::before {
          content: '-';
          margin-right: .5rem;
        }
      }
    }
  }

  .benefit {
    width: 100%;
    max-width: none;
    position: relative;

    /*&::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      height: calc(100% + 4rem);
      width: 30vw;
      background: url(../images/background/service_02.jpg);
      background-size: cover;
    }*/

    .wrapper * {
      text-align: left !important;
    }
  }
}

/* ======================================
   Support
   ====================================== */
.support {
  section:last-of-type {
    margin-bottom: 5rem;
  }

  .rules {
    height: 40vh;
    margin: 3rem auto 6rem;

    div {
      background: #EEE;
      overflow-y: auto;
      white-space: pre-wrap;
    }
  }

  button {
    font-size: 18px;
    font-family: 'NanumSquare-Regular', sans-serif;
    background: #372a9f;
    padding: 1.5rem 3rem;
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

.inputs {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  margin-bottom: 3rem;

  .input {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    display: flex;

    &:first-of-type {
      margin-top: 1rem;
    }

    &:last-of-type {
      padding-bottom: 0;
    }


    > :first-of-type {
      flex: 0 0 10rem;
    }

    > :last-of-type {
      display: flex;
      align-items: center;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid #EEE;
    }

    input {
      background: #EEE;
    }

    .checkbox {
      margin-right: 1rem;
    }

    &.phone,
    &.email {
      span {
        margin: 0 .5rem
      }
    }

    &.textarea {

      textarea {
        flex: 1 1 auto;
        background: #EEE;
      }
    }
  }
}


@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-30px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@media screen and (max-width: 1600px) {
  .wrapper {
    width: 960px;
  }
}

@media (max-width: 767px) {

  h1 {
    font-size: 3rem
  }

  .wrapper {
    width: 100%;
    padding: 1rem;
  }

  .tabs {
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    top: auto;

    li {
      width: 100%;
      padding: .5rem
    }
  }

  .tab-content {
    margin-top: 0;

    .sub-title {
      margin-bottom: 1rem;

      h2 {
        font-size: 2rem;
      }
    }
  }

  .main {
    section {
      margin-top: 5rem;
    }
  }

  header {
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.2s;
    justify-content: flex-start;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;

    &.scroll {
      height: 60px;

      .logo {
        margin: 1rem
      }
    }

    .hamburger-menu {
      display: flex !important;
      align-items: center;
    }

    .language {
      display: none;
    }

    > div {
      flex: 0 0 60px;
      display: flex;
      justify-content: space-between;
    }

    .menu {
      opacity: 0;
      flex-direction: column;
      transition: .4s;
      z-index: -1;

      li {
        opacity: 0;
        width: 100%;
        border-bottom: 1px solid #333;
        transform: scale(1.15) translateY(-30px);
        transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);

        &:nth-child(1) {
          transition-delay: 0.49s;
        }

        &:nth-child(2) {
          transition-delay: 0.42s;
        }

        &:nth-child(3) {
          transition-delay: 0.35s;
        }

        &:nth-child(4) {
          transition-delay: 0.28s;
        }

        &:nth-child(5) {
          transition-delay: 0.21s;
        }

        a {
          font-size: 1.25rem;
          padding: 1rem 2rem;
        }
      }
    }


    &.active {
      height: 100%;
      background-color: #000;
      transition: all 0.3s ease-in, background 0.5s ease-in;
      transition-delay: 0.25s;

      .menu {
        opacity: 1;

        li {
          transform: scale(1) translateY(0px);
          opacity: 1;

          &:nth-child(1) {
            transition-delay: 0.27s;
          }

          &:nth-child(2) {
            transition-delay: 0.34s;
          }

          &:nth-child(3) {
            transition-delay: 0.41s;
          }

          &:nth-child(4) {
            transition-delay: 0.48s;
          }

          &:nth-child(5) {
            transition-delay: 0.55s;
          }

          &:nth-child(6) {
            transition-delay: 0.62s;
          }

          &:nth-child(7) {
            transition-delay: 0.69s;
          }
        }
      }
    }
  }

  #slider {

    .text-slider {
      .title {
        font-size: 3rem;
        line-height: 1;
      }
    }
  }

  #business-area {
    .cards {
      flex-direction: column;

      .card {
        padding: 1rem 1rem 3rem;
      }
    }
  }
  #flagship-solutions {
    .solution {
      flex-direction: column;

      &::before {
        top: -1rem;
        left: 0
      }

      button {
        margin-top: 1rem;
        justify-self: right;
      }
    }
  }

  #services {

    margin-top: 0;

    .services {
      flex-direction: column;

      p {
        margin-bottom: 1rem;
      }

      > div {
        margin: 0;

        &:first-of-type {
          margin-bottom: 3rem;
        }
      }

    }
  }

  .about {

    .title {
      padding: 0 !important
    }

    .sub-menu {
      display: none;
    }

    section {
      padding: 3rem 1rem !important;
      margin: 0;

      &.challenge {
        margin-top: 0;

        .impact p {
          font-size: 2rem;
        }
      }

      &.greetings {
        .image {
          top: 0;
          width: 100vw;
        }

        div {
          margin-top: 30vh;
          padding: 0
        }
      }

      &.organization {

        .google-visualization-orgchart-table .google-visualization-orgchart-node {
          padding: .5rem;
        }
      }

      &.location {
        ul {
          flex-direction: column;

          li:not(:last-of-type) {
            border: none
          }
        }
      }
    }
  }

  .solutions {
    .rcs {
      .systems {
        flex-direction: column;

        div {
          margin-bottom: 1rem;
        }
      }
    }

    .smart-factory-automation {

      .lists {
        flex-direction: column;
      }
    }
  }

  .inputs {
    .input {
      flex-direction: column;

      > :first-of-type {
        flex: auto
      }
    }
  }

  .services {


    .process {
      flex-wrap: wrap;

      dl {
        flex: 1 1 50%;

        &::after {
          content: none;
        }

        &:nth-of-type(1),
        &:nth-of-type(2
        ), {
          margin-bottom: 2rem;
        }

      }
    }
  }

  .support {
    .rules {
      margin-bottom: 1rem;
    }

    .phone {

      input {
        width: 100px
      }
    }
  }

  footer {
    padding: 1rem;

    .sitemap {
      flex-direction: column;

      div:not(:last-of-type) {
        margin-bottom: 2rem;
      }

      h3 {
        margin-bottom: .5rem;
      }
    }

    .information {
      ul {
        flex-direction: column;
        margin-top: 1rem;
      }
    }

    .copyright {
      text-align: left;
      margin-top: 1rem
    }
  }
}

